@font-face{
	font-family:Haettenschweiler;
	src:url(../font/Haettenschweiler.TTF);
}
h1{
  color: red;
  font-size: 5rem;
  margin-top: 10rem;
  // font-family: "Times New Roman",Georgia,Serif;
  font-family: 'Haettenschweiler';
}

.map{
	background: #efeff4;
}
